[gcode_macro PREPRINT]
description: PREPRINT MESH=[0|1] - Prepares the printer for printing by homing, QGL and mesh calibration.
  Prepares the printer for printing by homing, QGL and mesh calibration.
gcode:
    SAVE_GCODE_STATE NAME=STATE_PREPRINT
    G90 # Absolute
    _QGL # Will also home

    {% if params.mesh|default(1) %}
    BED_MESH_CALIBRATE
    {% endif %}

    M117 # Clear Message
   
    RESTORE_GCODE_STATE NAME=STATE_PREPRINT

[gcode_macro PRINT_START]
description: Prepares the printer for printing by setting temperatures and homing.
  BED_TEMP=<temp> - Bed temperature, default is 60C
  TOOL=<initial tool> - Initial tool to use, default is 0
  TOOL_TEMP=<temp> - Initial tool temperature, default is 190C
  Tn_TEMP=<temp> - Temperature for tool n, default is 0
gcode:
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set TOOL_TEMP = params.TOOL_TEMP|default(190)|float %}

  M117 Initializing
  INITIALIZE_TOOLCHANGER

  ; _CQGL                          ; home all axes
  G90                            ; absolute positioning
  G1 Z20 F3000                   ; move nozzle away from bed

  M140 S{BED_TEMP}                        ; set bed temp. Don't wait for it to reach temp

  M117 Heating up the hotends
  # Preheat all the hotends in use
  {% for tool_nr in printer.toolchanger.tool_numbers %}
    {% set tooltemp_param = 'T' ~ tool_nr|string ~ '_TEMP' %}
    {% if tooltemp_param in params %}
      M104 T{tool_nr} S{params[tooltemp_param]}
    {% endif %}
  {% endfor %}

  {% if params.TOOL is defined %}
    T{params.TOOL}
  {% endif %}
  
  M109 S{TOOL_TEMP}         ; Set and wait for the tool temperature
  M190 S{BED_TEMP}          ; Wait for bed temperature
  G92 E0                    ; zero the extruder

  M117 Printing

[gcode_macro PRINT_END]
description:
  Ends the print by retracting filament, turning off heaters, and moving the nozzle to a safe position.
  This macro is intended to be used at the end of a print job.
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 20, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-2.0 F3600                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    M140                                     ; turn off bed

    M117 Print complete
    
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
  
[gcode_macro UNLOAD_FILAMENT]
description: Unload filament from the current tool.
  Unloads filament from the current tool. The tool must be at a safe position to unload.
  SPEED=<speed> - Speed for unloading, default is 300 mm/min
variable_unload1_distance: 50     ; distance to unload first part
variable_unload_pause_time: 4000  ; time to wait after unloading in milliseconds
variable_unload2_distance: 75     ; distance to unload second part
variable_purge_distance:  10      ; distance to purge before unloading
gcode:
  {% set speed = params.SPEED|default(300) %}
  {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity * 60 %}
  SAVE_GCODE_STATE NAME=unload_state
  G91                                     ; Relative Pos
  G92 E0                                  ; Zero the extruder
  G1 E{purge_distance} F{speed}           ; Purge before unloading
  G1 E-{unload1_distance} F{max_velocity} ; Fast unload a bit
  G4 P{unload_pause_time}                 ; Wait for tip to cool
  G1 E-{unload2_distance} F{max_velocity} ; fast-unload the rest
  RESTORE_GCODE_STATE NAME=unload_state
  M400                                    ; wait for moves to finish
  M117 Unload Complete

[gcode_macro LOAD_FILAMENT]
description: Load filament into the current tool.
  Loads filament into the current tool. The tool must be at a safe position to load.
  SPEED=<speed> - Speed for loading, default is 300 mm/min
variable_load_distance:  90
variable_purge_distance:  25
gcode:
  {% set speed = params.SPEED|default(300) %}
  {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity * 60 %}
  SAVE_GCODE_STATE NAME=load_state
  G91
  G92 E0
  G1 E{load_distance} F{max_velocity}   ; fast-load
  G1 E{purge_distance} F{speed}         ; purge
  RESTORE_GCODE_STATE NAME=load_state
  M400                                  ; wait for moves to finish
  M117 Load Complete!

[gcode_macro PRESENT]
gcode:
    SAVE_GCODE_STATE NAME=present_state
    G90 # Abs
    G0 X150 Y50 Z75 F20000
    RESTORE_GCODE_STATE NAME=present_state

[gcode_macro _QGL]
description: _QGL - Home and level the gantry
gcode:
    SAVE_GCODE_STATE NAME=STATE_QGL
    BED_MESH_CLEAR

    G90 # Absolute positioning
    G28 # Home all axes
    QUAD_GANTRY_LEVEL
    G28 Z # Home Z again 

    G0 X150 Y150 Z30 F3600
    
    RESTORE_GCODE_STATE NAME=STATE_QGL