[mcu tool1]
canbus_uuid: 519ae32037fe

#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: tool1: PD0
dir_pin: tool1: PD1
enable_pin: !tool1: PD2
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  47.088 is a good starting point for galileo 2
rotation_distance: 47.55888
gear_ratio: 9:1                 # Galileo 2
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: tool1:PB13
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: tool1:PA3
min_temp: 10
max_temp: 310
max_power: 1.0
min_extrude_temp: 170
max_extrude_only_distance: 101 # for tuning
control = pid
pid_kp = 31.121
pid_ki = 3.915
pid_kd = 61.854
pressure_advance: 0.026
##  Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: tool1:PA15
interpolate: false
run_current: 0.6

[fan]
##  Print Cooling Fan - FAN0
pin: tool1:PA0
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan tool1_fan]
pin: tool1: PA1
heater: extruder
heater_temp: 50.0

[neopixel tool1_rgb]
pin: tool1:PD3
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

[adxl345]
cs_pin: tool1:PB12
spi_software_sclk_pin: tool1:PB10
spi_software_mosi_pin: tool1:PB11
spi_software_miso_pin: tool1:PB2
axes_map: x,y,z

[temperature_sensor tool1_pcb]
sensor_type: temperature_mcu
sensor_mcu: tool1
min_temp: 0
max_temp: 100
